<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- 
	<bean id="framework.generalAction"
		class="com.rai.framework.web.struts.action.common.GeneralAction">
		<property name="generalManager" ref="generalManager" />
		<property name="classNameMap" ref="classNameMap" />
	</bean>
	
	
	<bean id="classNameMap" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="KEY" value="CLASS_NAME" />
				<entry key="KEY" value="CLASS_NAME" />
				<entry key="KEY" value="CLASS_NAME" />
				<entry key="KEY" value="CLASS_NAME" />
				<entry key="KEY" value="CLASS_NAME" />
			</map>
		</constructor-arg>
	</bean>
	 -->
</beans>