<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
   <bean id="classNameMap" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="org" value="com.rai.framework.test.model.Organization" />
				<entry key="person" value="com.rai.framework.test.model.Person" />
				<entry key="personMoveLog" value="com.rai.framework.test.model.PersonMoveLog" />
			</map>
		</constructor-arg>
	</bean>
		
</beans>